main > .container {
  padding: 60px 15px 0;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  
  .login{
    width:fit-content;
  }
}

h5 a{
  color: black;
}

body {
  background-color: white;
  color:black;
}

h1{
  text-align:center;
  font-size: large;
}

h3{
  text-align: center;
  font-size: large;
}

.questions h5{
  text-align: left;
}

.section1 p{
  font-size:large;
  text-align:center;
  padding-bottom:30px;
  
}

.section2{
  background-color:rgb(243, 243, 243);
  padding:5px;
}

.section2 h2{
  text-align: center;
  color:black;
}

.section2 p{
  text-align: center;
  font-size:large;
  color:black;
}

.section3 {
  background-color: rgb(243, 243, 243);
  padding:5px;
}

.section3 h2{
  text-align:center;
  color:black;
}

.section3 p{
  text-align: center;
  font-size:large;
  color:black;
}

.section4{
  background-color: rgb(243, 243, 243);
  padding:10px;
}

.section4 h2{
  text-align: center;
  color:black;
}

.section4 p{
  text-align: center;
  font-size:large;
  color:black;
}
footer{
  text-align:center;
  color:white;
}

/*
.login{
  background-color:white;
  text-align:right;
  justify-content: right;
  padding:15px;
  padding-left:10px;
  color:rgb(33,103,42);
  border-radius: 12px;
  margin-right: 10px;
}

.aLog{
  background-color:white;
  color:rgb(33,103,42)
}
*/
.logo{
  display: block;
  margin-left:auto;
  margin-top: auto;
  margin-right: auto;
}
.opener{
  font-size:large;
  text-align:center;
  padding-bottom:30px; 
}
.Welcome{
  font-size: 75px;
  padding-bottom: auto;
}

.card {
  margin:auto;
  float:none;
  margin-bottom: 40px;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  padding: 5px;
}


.card-text a{
  color: black;
  text-align: center;
}

.stockSearchBar {
  padding: 5px;
  border-radius: 5px;
}

.stockSearchButton {
  background-color: rgb(33, 103, 42);
  border-color:rgb(33, 103, 42);
  padding:7px;
  color: white;
  border-radius: 5px;
}

.aboutUsButton {
  background-color: #b5c205;
  border-color:#b5c205;
  padding:5px;
  display: flex;
  color: white;
  border-radius: 5px;
}

.infoButton{
  background-color: #b5c205;
  border-color:#b5c205;
  padding:5px;
  display: flex;
  color: white;
  border-radius: 5px;
}

.loginButton{
  background-color: #b5c205;
  border-color:#b5c205;
  padding:5px;
  display: flex;
  color: white;
  border-radius: 5px;
}

.registerButton{
  background-color: #b5c205;
  border-color:#b5c205;
  padding:5px;
  display: flex;
  color: white;
  border-radius: 5px;
}

.stockUtilityBar {
  display: table;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 10%;
}

.stockUtilityBarIcon {
  display: table-cell;
  height: auto;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.footer{
  flex-shrink: 0;
}


.stockSimStartButton {
  display: flex;
  justify-content: center;
}

.stockSimStartButtonStyle {
  background-color: #0d6efd;
  border-color:#0d6efd;
  padding:5px;
  color: white;
  border-radius: 5px;
}

.buySellButtons {
  display: flex;
  justify-content: center;
}

.centering{
  border: 3px;
  text-align: center;
}

.logo{
  opacity: 0.8;
}

#navBar{
  background-image: linear-gradient( #233329,#63D471); 
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#foot{
  background-image: linear-gradient( #63D471,#233329);
  bottom: 0;
  width: 100%;
  
}

#dropStock{
  margin-right:30px;
}

#dropSelect{
  padding:5px;
  border-radius: 5px;
}

.navCenter{
  text-align: center;
}

#tableL{
  text-align: center;
  margin-bottom: 20px;
  
}

table{
  counter-reset: tableL;
}

.counterIncrement::before{
  content: counter(tableL);
  counter-increment: tableL;
}

#centers{
    border: 3px;
    text-align: center;
  
}
.btn{

  border-radius: 25px;

 }

 .new{
      font-size: 12px;
 }

 .card{

  padding: 20px;
  border:none;


 }
 
 .inputs{

  position: relative;

 }

 .form-control {
      text-indent: 15px;
  border: none;
  height: 45px;
  border-radius: 0px;
  border-bottom: 1px solid #eee;
 }

 .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #eee;
  outline: 0;
  box-shadow: none;

}
 .inputs i{

    position: absolute;
  top: 14px;
  left: 4px;
  color: #b8b9bc;
 }
 
 .content-text-3{

  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 700;
 }

 .main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}

#posting{
  padding: 10px;
  margin:10px;
}