
.header{
    background-color:rgb(19, 174, 40);
    /* background-color:rgb(33,103,42); */
    text-align:center;
    justify-content: center;
    padding:15px;
}

.login{
    background-color:rgb(19, 174, 40);
    text-align:right;
    justify-content: right;
    padding:15px;
}

.login a{
    text-decoration: none;
}

.navbar{
    background-color: rgb(53, 100, 106);
    justify-content: center;
    border-bottom-style:solid;
    border-top-style:solid
}

.navbar ul{
    list-style-type: none;
    justify-content: center;
    display: flex;
    flex-wrap: flex;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration:none;
}

.navbar a:hover{
    color: blue;
    background-color:white;
}

.navbar a:active{
    color: red;
}

body {
    background-color: rgb(240, 240, 240);
    color:black;
}

h1{
    text-align: center;
    font-size: large;
}

.section1{
    margin:auto;
    width: 75%;
    background-color: rgb(223, 223, 223);
    padding:5px;
    border-style:double;
    border-width: 15px,15px,15px,15px;
    box-shadow: 0,2px;
}

.section1 h2{
    text-align: center;
    color:black;
}

.section1 p{
    font-size:large;
    text-align:center;
}

.section1 a{
    color:black;
    text-decoration: none;
    font-weight:bold;
}

.section2{
    margin:auto;
    width: 75%;
    background-color: rgb(223, 223, 223);
    padding:5px;
    border-style:double;
    border-width: 15px,15px,15px,15px;
}

.section2 h2{
    text-align: center;
    color:black;
}

.section2 p{
    text-align: center;
    font-size:large;
    color:black;
}

.section2 a{
    color:black;
    text-decoration: none;
    font-weight:bold;
}

.section3 {
    margin:auto;
    width: 75%;
    background-color: rgb(223, 223, 223);
    padding:5px;
    border-style:double;
    border-width: 15px,15px,15px,15px;
}

.section3 h2{
    text-align:center;
    color:black;
}

.section3 p{
    text-align: center;
    font-size:large;
    color:black;
}

.section3 a{
    color:black;
    text-decoration: none;
    font-weight:bold;
}

.section4{
    margin:auto;
    width: 75%;
    background-color: rgb(223, 223, 223);
    padding:5px;
    border-style:double;
    border-width: 15px,15px,15px,15px;
}

.section4 h2{
    text-align: center;
    color:black;
}

.section4 p{
    text-align: center;
    font-size:large;
    color:black;
}

.section4 a{
    color:black;
    text-decoration: none;
    font-weight:bold;
}

.infopart1 {
    margin:auto;
    width: 75%;
    text-align: center;
    border-style: double;
    border-width: 5px 10px 5px 10px;
    background-color: bisque;
}

.info{
    background-color: whitesmoke
}

.infopart2 {
    margin:auto;
    width: 75%;
    text-align: center;
    border-style: double;
    display: block;
    border-width: 5px 10px 5px 10px;
    background-color: bisque;
    color: black;
}


.stock{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.infopart3 {
    margin:auto;
    width: 75%;
    text-align: center;
    text-align: center;
    border-style: double;
    border-width: 5px 10px 5px 10px;
    background-color: bisque;
}

.infopart4 {
    margin:auto;
    width: 75%;
    text-align: center;
    border-style: double;
    border-width: 5px 10px 5px 10px;
    background-color: bisque;
}

.definitionspart1{
    margin:auto;
    width: 75%;
    text-align: center;
    border-style: double;
    border-width: 5px 10px 5px 10px;
    background-color: bisque;
}

.definitionspart2{
    margin:auto;
    width: 75%;
    text-align: center;
    border-style: double;
    border-width: 5px 10px 5px 10px;
    background-color: bisque;
}

.definitionspart3{
    margin:auto;
    width: 75%;
    text-align: center;
    border-style: double;
    border-width: 5px 10px 5px 10px;
    background-color: bisque;
}

.definitionspart4{
    margin:auto;
    width: 75%;
    text-align: center;
    border-style: double;
    border-width: 5px 10px 5px 10px;
    background-color: bisque;
}

.loginform {
    margin: auto;
    width: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align:center;
    justify-content: center;
    box-shadow: 10px,8px,8px,grey;
}

.loginform form{
    width: 100%;
    height: 100%;
    padding: 40px;
    border-radius: 2px;
    background-color: silver;
}

.loginform h3{
    padding-bottom: 15px;
    border-radius: 4px;
}

.loginform button{
    color:black;
    background-color:olive;
    width:50%;
    height:100%;
    border-radius: 5px;
}

.loginform button :hover{
    background-color: blue;
}

.loginform button :active{
    background-color: red;
}

input[type=text] {
    border-radius: 5px;
    padding: 5px;
}

input[type=email] {
    border-radius: 5px;
    padding: 5px;
}

input[type=password] {
    border-radius: 5px;
    padding: 5px;
}

.registerform {
    text-align:center;
    justify-content: center;
    margin: auto;
    width: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align:center;
    justify-content: center;
}

.registerform form{
    width: 100%;
    height: 100%;
    padding: 40px;
    border-radius: 2px;
    background-color: silver;
    box-shadow: 2px;
}

.registerform button{
    color:black;
    background-color:olive;
    width:50%;
    height:100%;
    border-radius: 5px;
}

.passwordform {
    text-align:center;
    justify-content:center;
    margin: auto;
    width: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align:center;
    justify-content: center;
}

.passwordform form {
    width: 100%;
    height: 100%;
    padding: 40px;
    border-radius: 2px;
    background-color: silver;
    box-shadow: 2px;
}

.passwordform button {
    color:black;
    background-color:olive;
    width:50%;
    height:100%;
    border-radius: 5px;
}

footer{
    text-align:center;
    color:white;
    font-size:small;
    background-color:rgb(95, 63, 63);
    border-color: black;
    border-top-style: solid;
}

.stockUtilityBar {
    display: table;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 10%;
}

.stockUtilityBarIcon {
    display: table-cell;
    height: auto;
}

.stockSimStartButton {
    display: flex;
    justify-content: center;
}

.buySellButtons {
    display: flex;
    justify-content: center;
}

.aboutusmain {
    content:"";
    display: table;   
    clear: both;
    background-color: grey;
    color: white;
    border-style:double;
    border-width: 5px 10px 5px 10px;
    border-color:black;
    width: 75%;
    margin: auto;
}

.aboutuspart{
    float: left;
    width: 33.33%;
    padding: 1em;
    border-left: solid;
    border-right: solid;
    border-color: black;
}
.information{
    background-color: black;
}

.alert-pass {
    background-color: skyblue;
    text-align: center;
}

.alert-fail {
    background-color: orangered;
    text-align: center;
}