
.header{
    background-color:rgb(33, 103, 42);
    text-align:center;
    justify-content: center;
    padding:15px;
}

.login{
    background-color:rgb(33,103,42);
    text-align:right;
    justify-content: right;
    padding:15px;
}

.navbar{
    background-color: rgb(70, 51, 51);
    justify-content: center;
}

.navbar ul{
    list-style-type: none;
    justify-content: center;
    display: flex;
    flex-wrap: flex;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration:none;
}

.navbar a:hover{
    color: blue;
    background-color:white;
}

.navbar a:active{
    color: red;
}

body {
    background-color: white;
    color:black;
}

h1{
    text-align: center;
    font-size: large;
}

.section1 p{
    font-size:large;
    text-align:center;
}

.section2{
    background-color:rgb(243, 243, 243);
    padding:5px;
}

.section2 h2{
    text-align: center;
    color:black;
}

.section2 p{
    text-align: center;
    font-size:large;
    color:black;
}

.section3 {
    background-color: rgb(223, 223, 223);
    padding:5px;
}

.section3 h2{
    text-align:center;
    color:black;
}

.section3 p{
    text-align: center;
    font-size:large;
    color:black;
}

.section4{
    background-color: rgb(214, 214, 214);
    padding:5px;
}

.section4 h2{
    text-align: center;
    color:black;
}

.section4 p{
    text-align: center;
    font-size:large;
    color:black;
}

.infopart1 {
    text-align: center;
    border-style: double;
    border-width: 5px 10px 5px 10px;
    background-color: bisque;
}

.info{
    background-color: whitesmoke
}

.infopart2 {
    text-align: center;
    border-style: double;
    display: block;
    border-width: 5px 10px 5px 10px;
    background-color: bisque;
    color: black;
}


.stock{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.infopart3 {
    text-align: center;
    text-align: center;
    border-style: double;
    border-width: 5px 10px 5px 10px;
    background-color: bisque;
}

.loginform {
    text-align:center;
    justify-content: center;
}

.registerform {
    text-align:center;
    justify-content: center;
}

.passwordform {
    text-align:center;
    justify-content:center;
}

footer{
    text-align:center;
    color:white;
    font-size:small;
    background-color:rgb(95, 63, 63)
}

.stockUtilityBar {
    display: table;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 10%;
}

.stockUtilityBarIcon {
    display: table-cell;
    height: auto;
}

.stockSimStartButton {
    text-align: center;
}

.aboutusmain {
    content:"";
    display: table;   
    clear: both;
    background-color: grey;
    color: white;
}

.aboutuspart{
    float: left;
    width: 33.33%;
    padding: 1em;
}
.information{
    background-color: black;
}

.alert-pass {
    background-color: skyblue;
    text-align: center;
}
