body {
    background-color: white;
    color:black;
}

.login{
    text-align:right;
    justify-content: right;
    display:flex;
}

.navbar ul{
    list-style-type: none;
    background-color:black;
    justify-content:left;
    display:flex;
}

.navbar ul li a {
    display: block;
    color: green;
    border: 1px solid;
    border-radius: .5em;
    margin: .5em;
    flex-wrap: wrap;
    flex: 1 1 50%;
}

.navbar a:hover{color: blue;}
.navbar a:visited{color: grey;}
.navbar a:active{color: red;}

h1{
    text-align: center;
}

.section1 p{
    font-size:large;
}

.section2{
    background-color:blue;
}

.section2 h2{
    text-align: right;
    justify-content: right;
}

.section2 p{
    text-align: right;
    justify-content: right;
    font-size:large;
}

.section3 {
    background-color: orange;
}

.section3 h2{
    justify-content: left;
}

.section3 p{
    justify-content: left;
    font-size:large;
}

.section4{
    background-color: grey;
}

.section4 h2{
    text-align: right;
    justify-content: right;
}

.section4 p{
    text-align: right;
    justify-content: right;
    font-size:large;
}

.loginform {
    text-align:center;
    justify-content: center;
}

.registerform {
    text-align:center;
    justify-content: center;
}

footer{
    text-align:center;
}