.header{
    background-color:greenyellow;
    text-align:center;
    justify-content: center;
    padding:15px;
}

.login{
    background-color:greenyellow;
    text-align:right;
    justify-content: right;
    padding:15px;
}

.navbar ul{
    list-style-type: none;
    background-color:#333;
    margin:0;
    padding:0;
    overflow:hidden;
    padding: 15px;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}

.navbar a:hover{
    color: blue;
    background-color:white;
}

.navbar a:visited{
    color: grey;
}

.navbar a:active{
    color: red;
}

body {
    background-color: white;
    color:black;
}

h1{
    text-align: center;
}

.section1 p{
    font-size:large;
}

.section2{
    background-color:blue;
}

.section2 h2{
    text-align: right;
    justify-content: right;
}

.section2 p{
    text-align: right;
    justify-content: right;
    font-size:large;
}

.section3 {
    background-color: orange;
}

.section3 h2{
    justify-content: left;
}

.section3 p{
    justify-content: left;
    font-size:large;
}

.section4{
    background-color: grey;
}

.section4 h2{
    text-align: right;
    justify-content: right;
}

.section4 p{
    text-align: right;
    justify-content: right;
    font-size:large;
}

.loginform {
    text-align:center;
    justify-content: center;
    background-color:aqua;
    border-radius:15px;
}

.registerform {
    text-align:center;
    justify-content: center;
    background-color:aqua;
}

.passwordform {
    text-align:center;
    justify-content:center;
    background-color:aqua;
}

footer{
    text-align:center;
}

.stockUtilityBar {
    display: table;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 10%;
}

.stockUtilityBarIcon {
    display: table-cell;
    height: auto;
}