<!--404 Error page by Ian Mcnulty-->
<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/stylesheets/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <header>
        <h1>404 Error: Webpage unavailable</h1>
        {% if session['user'] %}
        <div class = "login">
            <p>Hello {{person['Name']}} <a method = "POST" href = "logout">Logout</a></p>
        </div>
        {% else %}
        <div class = "login">
            <p><a method = "POST" href = "login">Login</a> or <a method = "POST" href = "register">Register</a></p>
        </div>
        {% endif %}
        <!--Navbar by Muneeb Khan-->
        <div class = "navbar">
            <nav>
                <ul>
                    <li><a method = "POST" href = "home">Home</a></li>
                    <li><a method = "POST" href = "aboutus">About Us</a></li>
                    <li><a method = "POST" href = "information">Information</a></li>
                    {% if session['loginFlagPy'] %}
                    <li><a method = "POST" href = "profile">Profile</a></li>
                    {% endif %}
                    <li class="stockSimStartButton">
                        <form id="stockSimStart" action="/stockSimForm" method="post">
                            <button>Start a simulation!</button>
                        </form>
                        <script type="text/javascript">
                            var email = {{ session['user'] | safe}};
                            if (email == '') 
                                document.getElementById('stockSimStart').style.display = "none";
                        </script>
                    </li>
                </ul>
            </nav>
            <form action="/stockSearch" method="post">
                <input type="search" name="searchTerm" placeholder="Find a stock..."
                        value="{{ request.form['searchTerm'] }}">
                <button>Search</button>
            </form>
        </div>
    </header>
    <body>
        <div>
            The webpage you have searched for is not available, click the button below to return to the home menu!
        </div>
        <div>
            <button><a href="/">Return to Home</a></button>
        </div>
    </body>
</html>