<!--About us page by Muneeb Khan-->
<!--Updated by Muneeb and Viraj-->
<!--CSS Updated by Miqdad and integrated by Muneeb-->
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>StockSim: Learn How to Trade</title>

    <!-- Bootstrap -->
    <link rel = "stylesheet" href = "/static/stylesheets/newStyle.css">
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    </head>
    <header>

        <a class="navbar-brand" href="home" style = "color: black; padding: 10px;">
        StockSim: Learn How to Trade
        </a>
        <nav class="navbar navbar-expand-md navbar-dark" id = "navBar">
          <img src = "/static/stockLogo.png" alt = "stock symbol" width = "45" height = "45" class="d-inline-block align-top">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="aboutus">About Us</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Information Pages</a>
                  <ul class = "dropdown-menu">
                    <li><a class ="dropdown-item" href="information">Information</a></li>
                    <li><a class ="dropdown-item" href="graphPictures">Graph Pictures</a></li>
                    <li><a class ="dropdown-item" href="StockDefinitions">Stock Definitions</a></li>
                  </ul>
                </li>
      {% if session['user'] %}
      <li class="nav-item">
        <a class = "nav-link" method = "POST" href = "profile">Profile</a> 
      </li>
    <li class = "nav-item">
        <a class = "nav-link" method = "POST" href = "social"> Your Network</a>
     </li>
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">StockFeed</a>
      <ul class = "dropdown-menu">
        <li><a class ="dropdown-item" href="Blog">StockFeed</a></li>
        <li><a class ="dropdown-item" href="userPosts">Your Posts</a></li>
      </ul>
    </li>
      <li class="nav-item">
        <a class = "nav-link" method = "POST" href = "Leaderboard">Leaderboard</a> 
      </li>
      <li class="nav-item">
        <a class = "nav-link" method = "POST" href = "logout">Logout</a> 
      </li>
        <li class="nav-item" id="stockSimButton"> <!--Old list name was StockSimStartButton-->
          <form id="nav-link" action="/stockSimForm" method="post"> <!--Old form name was stockSimStart-->
            <button class = "btn btn btn-lg btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="stockSimButton">Start a simulation!</button>
          </form>
          <script type="text/javascript">
            if ({{ session['loginFlagPy'] }} == 0 || {{ session['simulationFlag'] }} == 1 ) { 
              document.getElementById('stockSimButton').style.display = "none";
            }
          </script>
        </li>
        <li>
          <form id="nav-link" action="/simulation" method="post"> 
            <button class = "btn btn btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="goToSim">Go to Current Sim!</button>
          </form>
          <script type="text/javascript">
            if ({{ session['simulationFlag'] }} == 0 ) { 
              document.getElementById('goToSim').style.display = "none";
            }
          </script>  
        </li>

        {% else %}
        <li class="nav-item">
          <a class = "nav-link" method = "POST" href = "login">Login</a> 
        </li>
        <li class = "nav-item">
          <a class = "nav-link" method = "POST" href = "register">Register</a>
        </li>
      {% endif %}
    </ul>
    <div class="dropdown">
                <button style = "margin: 4px; background-color:white;color:rgb(33, 103, 42);" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Simulation Status
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <p class="nav-link"  style = "border-radius: 8px; background-color: bisque;color:rgb(33, 103, 42);margin :10px; padding: 10px;" id="currentCashNav">Current Cash: ${{session['currentCash']}}</p>
                  <p class="nav-link"  style = "border-radius: 8px; background-color: bisque;color:rgb(33, 103, 42);margin :10px; padding: 10px;" id="portfolioValueNav">Portfolio Value: ${{session['portfolioValue'] }}</p>
                </div>
                </div>
                <script type="text/javascript">
              if ({{ session['simulationFlag'] }} == 0 ) { 
                document.getElementById('currentCashNav').style.display = "none";
                document.getElementById('portfolioValueNav').style.display = "none";
              }
            </script>  
                <form action="/stockSearch" method="post">
          <input style="border-radius: 8px; margin-top: 5px;"  class= "stockSearchBar" type="search" list = "stockNames" name="searchTerm" placeholder="Find a stock..."
                  value="{{ request.form['searchTerm'] }}">
                  <datalist id = "stockNames">
                  {% for stockname in stockNames%}
                      <option value = "{{stockname}}" />
                  {% endfor %}
                   </datalist>
                  <button class = "btn btn-block" style = "margin-bottom: 4px; background-color:white;color:rgb(33, 103, 42);">Display Stock</button>
      </form>
            </div>        
          </div>
        </nav>
    </header>
<br>

    <main>
        <div>
            <h1>About Us</h1>
        </div>
        <div class = "container-fluid">
            <div class ="card w-75 d-flex justify-content-left" style="padding: 10px;">
            <div class = "card-header">
                <img class = "logo" src = "/static/stockLogo.png" alt = "stock symbol" width = "50" height = "50">
                <h2>The Company</h2>
            </div>
            <div class = "card-bpdy">
            <h5 class = "card-text" style = "text-align: left;"> Founded in 2022 the Stocksim team are dedicated to helping users that are new
            to the stock market industry but are looking to start somewhere and want to
            learn.
            </h5>
            </div>
            </div>

            <div class = "card w-75 d-flex justify-content-left" style="padding: 10px;">
            <div class = "card-header">
                <img class = "logo" src = "/static/goalLogo.png" alt = "goal symbol" width = "50" height = "50">
                <h2>Our Goal</h2>
            </div>
            <div class = "card-body">
            <h5 class = "card-text" style = "text-align: left;">Unlike our competitors we want to provide an easy to use website that can help new users with making the right
            investments that best fits their needs. Stocksim will allow users to compete in a stock simulation that will allow the users to choose from different stock companies 
            They may either choose to purchase or sell a stock from that company. The price of the company's stock will constantly change overtime. Users may refer to our 
            information page which will help them learn about the stock market in general.
            </h5>
            </div>
            </div>

            <div class = "card w-75 d-flex justify-content-left" style="padding: 10px;">
            <div class = "card-header">
                <img class = "logo" src = "/static/groupLogo.png" alt = "stock symbol" width = "50" height = "50">
                <h2>The Team</h2>
            </div>
            <div class = "card-body">  
            <h5 class = "card-text" style = "text-align: left;">We are team of software engineers who also invest in stocks, Back in the days when we started making investments 
            we used other sites such as robinhood, we were not even sure where to begin, but this gave us the motivation to help others 
            who are in the same position as we were. Because of this we decided to create our own stock investment site.
            </h5>
            </div>  
            </div>
        </div>
        </div>
        <br><br>
    </main></body>

    <footer class="footer mt-auto py-3" id = "foot">
        <div class="container">
          <span>Copyright 2022 by StockSim</span>
        </div>
      </footer>
      
      <script src="/static/jsStyle/bootstrap.bundle.min.js"></script>

</html>