<!--About us page by Muneeb Khan-->
<!--Updated by Muneeb and Viraj-->
<!--CSS Updated by Miqdad and integrated by Muneeb-->
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>StockSim: Learn How to Trade</title>

    <!-- Bootstrap -->
    <link rel = "stylesheet" href = "/static/stylesheets/newStyle.css">
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    </head>
    <header>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top" id = "navBar">
            <div class="container-fluid">
              <a class="navbar-brand" href="home">
                <img src = "/static/stockLogo.png" alt = "stock symbol" width = "35" height = "35" class="d-inline-block align-top">
                StockSim: Learn How to Trade
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="aboutus">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="information">Information</a>
                  </li>
                  {% if session['user'] %}
                  <li class="nav-item">
                    <a class = "nav-link" method = "POST" href = "profile">Profile</a> 
                  </li>
                  <li class="nav-item">
                    <a class = "nav-link" method = "POST" href = "logout">Logout</a> 
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class = "nav-link" method = "POST" href = "login">Login</a> 
                  </li>
                  <li class = "nav-item">
                    <a class = "nav-link" method = "POST" href = "register">Register</a>
                  </li>
                  {% endif %}
                </ul>
                <form action="/stockSearch" method="post" id = "dropStock">
                  <select id = "dropSelect" class = "form" type="search" name="searchTerm" value="{{ request.form['searchTerm'] }}">
                    <option selected>Find a stock</option>
                    <option value = "AMZN">Amazon</option>
                    <option value = "F">Ford</option>
                    <option value = "BAC">Bank of America</option>
                    <option value = "DIS">Disney</option>
                    <option value = "GE">General Electric Company</option>
                    <option value = "GOOG">Google</option>
                    <option value = "JPM">JPMorgan Chase & Co</option>
                    <option value = "KO">Coca-Cola</option>
                    <option value = "MCD">McDonald's</option>
                    <option value = "MSFT">Microsoft</option>
                    <option value = "NFLX">Netflix</option>
                  </select> 
                  <button class = "btn btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="stockSimButton">Display Stock</button>
                </form>
              </div>        
            </div>
          </nav>
    </header>
<br><br><br><br><br><br>

    <main>
        <div>
            <h1>About Us</h1>
        </div>
        <div class = "container-fluid">
            <div class ="card w-75 d-flex justify-content-left" style="padding: 10px;">
            <div class = "card-header">
                <img class = "logo" src = "/static/stockLogo.png" alt = "stock symbol" width = "50" height = "50">
                <h2>The Company</h2>
            </div>
            <div class = "card-bpdy">
            <h5 class = "card-text" style = "text-align: left;"> Founded in 2022 the Stocksim team are dedicated to helping users that are new
            to the stock market industry but are looking to start somewhere and want to
            learn.
            </h5>
            </div>
            </div>

            <div class = "card w-75 d-flex justify-content-left" style="padding: 10px;">
            <div class = "card-header">
                <img class = "logo" src = "/static/goalLogo.png" alt = "goal symbol" width = "50" height = "50">
                <h2>Our Goal</h2>
            </div>
            <div class = "card-body">
            <h5 class = "card-text" style = "text-align: left;">Unlike our competitors we want to provide an easy to use website that can help new users with making the right
            investments that best fits their needs. Stocksim will show users the different options they can choose.
            Users may refer to our information page which will provide the educational information they will need to know.
            </h5>
            </div>
            </div>

            <div class = "card w-75 d-flex justify-content-left" style="padding: 10px;">
            <div class = "card-header">
                <img class = "logo" src = "/static/groupLogo.png" alt = "stock symbol" width = "50" height = "50">
                <h2>The Team</h2>
            </div>
            <div class = "card-body">  
            <h5 class = "card-text" style = "text-align: left;">We are team of software engineers who also invest in stocks, Back in the days when we started making investments 
            we used other sites such as robinhood, we were not even sure where to begin, but this gave us the motivation to help others 
            who are in the same position as we were. Because of this we decided to create our own stock investment site.
            </h5>
            </div>  
            </div>
        </div>
        </div>
    </main>
    <footer class="footer mt-auto py-3 fixed-bottom" id = "foot">
        <div class="container">
          <span>Copyright 2022 by StockSim</span>
        </div>
      </footer>
      
      <script src="/static/jsStyle/bootstrap.bundle.min.js"></script>
</body>

</html>