<!--Information Page by Muneeb Khan-->
<!--Updated by Muneeb and Viraj-->
<!--CSS Updated by Miqdad and integrated by Muneeb-->
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>StockSim: Learn How to Trade</title>

    <!-- Bootstrap core CSS -->
    <link rel = "stylesheet" href = "/static/stylesheets/newStyle.css">
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  </head>
  <body class="d-flex flex-column h-100">
    
    <header>
      <a class="navbar-brand" href="home" style = "color: black; padding: 10px;">
        StockSim: Learn How to Trade
      </a>
        <nav class="navbar navbar-expand-md navbar-dark" id = "navBar">
          <img src = "/static/stockLogo.png" alt = "stock symbol" width = "45" height = "45" class="d-inline-block align-top">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="aboutus">About Us</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Information Pages</a>
                    <ul class = "dropdown-menu">
                      <li><a class ="dropdown-item" href="information">Information</a></li>
                      <li><a class ="dropdown-item" href="graphPictures">Graph Pictures</a></li>
                      <li><a class ="dropdown-item" href="StockDefinitions">Stock Definitions</a></li>
                    </ul>
                  </li>
        {% if session['user'] %}
        <li class="nav-item">
          <a class = "nav-link" method = "POST" href = "profile">Profile</a> 
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Your Network</a>
          <ul class = "dropdown-menu">
            <li><a class ="dropdown-item" href="social">Your Network</a></li>
            <li><a class ="dropdown-item" href="Blog">StockFeed</a></li>
            <li><a class ="dropdown-item" href="userPosts">Your Posts</a></li>
          </ul>
        </li>
      </li>
        <li class="nav-item">
          <a class = "nav-link" method = "POST" href = "Leaderboard">Leaderboard</a> 
        </li>
        <li class="nav-item">
          <a class = "nav-link" method = "POST" href = "logout">Logout</a> 
        </li>
          <li class="nav-item" id="stockSimButton"> <!--Old list name was StockSimStartButton-->
            <form id="nav-link" action="/stockSimForm" method="post"> <!--Old form name was stockSimStart-->
              <button class = "btn btn btn-lg btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="stockSimButton">Start a simulation!</button>
            </form>
            <script type="text/javascript">
              if ({{ session['loginFlagPy'] }} == 0 || {{ session['simulationFlag'] }} == 1 ) { 
                document.getElementById('stockSimButton').style.display = "none";
              }
            </script>
          </li>
          <li>
            <form id="nav-link" action="/simulation" method="post"> 
              <button class = "btn btn btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="goToSim">Go to Current Sim!</button>
            </form>
            <script type="text/javascript">
              if ({{ session['simulationFlag'] }} == 0 ) { 
                document.getElementById('goToSim').style.display = "none";
              }
            </script>  
          </li>

          {% else %}
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "login">Login</a> 
          </li>
          <li class = "nav-item">
            <a class = "nav-link" method = "POST" href = "register">Register</a>
          </li>
        {% endif %}
      </ul>
      <div class="dropdown">
                <button style = "margin: 4px; background-color:white;color:rgb(33, 103, 42);" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Simulation Status
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <p class="nav-link"  style = "border-radius: 8px; background-color: bisque;color:rgb(33, 103, 42);margin :10px; padding: 10px;" id="currentCashNav">Current Cash: ${{session['currentCash']}}</p>
                  <p class="nav-link"  style = "border-radius: 8px; background-color: bisque;color:rgb(33, 103, 42);margin :10px; padding: 10px;" id="portfolioValueNav">Portfolio Value: ${{session['portfolioValue'] }}</p>
                </div>
                </div>
                <script type="text/javascript">
              if ({{ session['simulationFlag'] }} == 0 ) { 
                document.getElementById('currentCashNav').style.display = "none";
                document.getElementById('portfolioValueNav').style.display = "none";
              }
            </script>  
                <form action="/stockSearch" method="post">
          <input style="border-radius: 8px; margin-top: 5px;"  class= "stockSearchBar" type="search" list = "stockNames" name="searchTerm" placeholder="Find a stock..."
                  value="{{ request.form['searchTerm'] }}">
                  <datalist id = "stockNames">
                  {% for stockname in stockNames%}
                      <option value = "{{stockname}}" />
                  {% endfor %}
                  </datalist>
                  <button class = "btn btn-block" style = "margin-bottom: 4px; background-color:white;color:rgb(33, 103, 42);">Display Stock</button>
      </form>
              </div>        
            </div>
          </nav>
    </header>

<br><br><br><br><br><br>

<body class = "info">
    <section>
        <div>
            <h1>Information</h1>
        </div>
        <div class = infomain>
            <div class = "card w-75 d-flex justify-content-left" style= "padding-top: 10px; padding-bottom: 10px;">
              <div class = "card-header">
              <h2>Graph Pictures</h2>
              </div>
                <div class = "card-body" style = "border-bottom: solid black;">
                    <h5 class = "card-text">
                        The following page shows examples of stock graphs.
                        The first graph below is an example of Googles shares overtime.
                        <br><br>
                        <img src = "{{url_for('static', filename='Graphexample.jpg')}}" width = "90%" height = "90%" display = "d-flex" class = "stock" />
                        <br><br>
                    </h5>
                </div> 

                <div class = "card-body" style = "background-color: rgb(243, 243, 243); border-bottom: solid black;">
                      <h5 class = "card-text">
                        Another graph example below shows Amazons shares overtime.
                        <br><br>
                        <img src = "{{url_for('static', filename='Graphexample2.jpg')}}" width = "90%" height = "90%" display = "d-flex" class = "stock" />
                        <br><br>
                      </h5>
                </div>

                <div class = "card-body" style = "border-bottom: solid black;">
                      <h5 class = "card-text">
                        Stock graphs may also display as bar graphs, below is an example of Ford's stocks in a bar graph
                        <br>
                        <img src = "{{url_for('static', filename='Graphexample3.jpg')}}" width = "90%" height = "90%" display = "d-flex" class = "stock" />
                      </h5>
                      <br>
                      <h5>To go back to the main information page, click the button below.
                      <br><br><a class = "btn-block btn-lg btn-warning" style = "background-color:rgb(213, 233, 59); color:black;" method = "POST"  href = "information">Information</a></h5>
                </div>

             </div>
        </div>

      </section>
    </body>
    <br>

      <footer class="footer mt-auto py-3" id = "foot">

        <div class="container">
          <span>Copyright 2022 by StockSim</span>
        </div>
      </footer>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="/static/jsStyle/bootstrap.bundle.min.js"></script>

</html>