<!DOCTYPE html>
<html>
<head>
    <meta class="UTF-8">
    <title>StockSim: Learn How To Trade</title>
    <link rel = "stylesheet" href = "/static/stylesheets/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<header>
    <div class = "header">
        <h1>Welcome to StockSim: Learn How to Trade!</h1>
    </div>
    <div class = "login">
        <p><a method = "POST" href = "login">Login</a> or <a method = "POST" href = "register">Register</a></p>
    </div>
    <div class = "navbar">
        <nav>
            <ul>
                <li><a method = "POST" href = "home">Home</a></li>
                <li><a method = "POST" href = "aboutus">About Us</a></li>
                <li><a method = "POST" href = "information">Information</a></li>
            </ul>
        </nav>
        <form action="/stockSearch" method="post">
            <input type="search" name="searchTerm" placeholder="Find a stock..."
                    value="{{ request.form['searchTerm'] }}">
            <button>Search</button>
        </form>
    </div>
</header>
<body>
    <section>

        <div class = "section1">
            <p>Welcome to our website where we will help with making your first investments,
            <br>
            as you know stock markets require experience in order to know which
            <br>
            investments are right for your needs.

            </p>
        </div>
        
        <div class = "section2">
            <h2>About Us</h2>
            <p>
                <a method = "POST" href = "aboutus">Click here</a> to see our about us page 
                <br> 
                for more information on the team.
            </p>
        </div>
        
        <div class = "section3">
            <h2>Information</h2>
            <p><a method = "POST" href = "information">Click here</a> to check our information page
                <br> to learn more about stock investments before you start.
            </p>
        </div>
        
        <div class = "section4">
            <h2>Become a member</h2>
            <p>If you havent already please <a method = "POST" href = "register ">click here</a> to register 
            <br> to become a member of our website otherwise <a method = "POST" href = "login"> click here</a> to login
            </p>
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
    crossorigin="anonymous"></script>

</body>
<footer><p>Copy right 2022 by StockSim</p></footer>

</html>