<!--Information Page by Muneeb Khan-->
<!--Updated by Muneeb and Viraj-->
<!--CSS Updated by Miqdad and integrated by Muneeb-->
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>StockSim: Learn How to Trade</title>

    <!-- Bootstrap core CSS -->
    <link rel = "stylesheet" href = "/static/stylesheets/newStyle.css">
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style = "background-color:rgb(33, 103, 42)">
    <div class="container-fluid">
      <a class="navbar-brand" href="information">
        <img src = "/static/stockLogo.png" alt = "stock symbol" width = "35" height = "35" class="d-inline-block align-top">
        StockSim: Learn How to Trade
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="information">Information</a>
          </li>
          {% if session['user'] %}
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "profile">Profile</a> 
          </li>
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "logout">Logout</a> 
          </li>
          
          <li class="nav-item" id="stockSimButton"> <!--Old list name was StockSimStartButton-->
            <form id="nav-link" action="/stockSimForm" method="post"> <!--Old form name was stockSimStart-->
              <button class = "btn btn btn-lg btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="stockSimButton">Start a simulation!</button>
            </form>
            <script type="text/javascript">
              if ({{ session['loginFlagPy'] }} == 0 || {{ session['simulationFlag'] }} == 1 ) { 
                document.getElementById('stockSimButton').style.display = "none";
              }
            </script>
          </li>
          <li>
            <form id="nav-link" action="/simulation" method="post"> 
              <button class = "btn btn btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="goToSim">Go to Current Sim!</button>
            </form>
            <script type="text/javascript">
              if ({{ session['simulationFlag'] }} == 0 ) { 
                document.getElementById('goToSim').style.display = "none";
              }
            </script>  
          </li>
          {% else %}
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "login">Login</a> 
          </li>
          <li class = "nav-item">
            <a class = "nav-link" method = "POST" href = "register">Register</a>
          </li>
        {% endif %}
          <!--For some reason li class must be "nav-item in order to show up on nav bar"-->
        </ul>
        <form action="/stockSearch" method="post">
                  <input type="search" name="searchTerm" placeholder="Find a stock..."
                          value="{{ request.form['searchTerm'] }}">
                  <button>Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<br><br><br><br><br><br>

<body class = "info">
    <section>
        <div>
            <h1>Information</h1>
        </div>
        <div class = infomain>
            <div class = "card w-75 d-flex justify-content-left" style= "padding-top: 20px; padding-bottom: 20px;">
              <div class = "card-header">
              <h2>What Should I Know?</h2>
              </div>
                <div class = "card-body" style = "background-color: rgb(243, 243, 243);">
                    <h5 class = "card-text">
                      With our information page we will provide several sources ranging from videos, external links,
                      helpful terms, a quiz, and our very own stock simulator. Some users may learn different however 
                      we want to ensure that we can help all our users get a better understanding.
                      <br><br>
                      If the information doesn't help then you may contact us directly by email through our contact us page 
                      and we will provide assitance. You may also contact us if you have any questions regarding our website.
                    </h5>
                </div>
              <br>


                  <div class = "card-body">
                    <h2>The Basics of Stock Markets</h2>
                    <br>
                    <h5 class = "card-text">
                      Stocks are basically the shares of ownership in a company and stockholders 
                      have a fractional ownership of the company. Stocks are typically listed as line graphs
                      and they basically keep track of the stock price of the company overtime. 
                      It can show the companies records by daily, monthly, and yearly.
                      <br><br>

                      Below is an example of a graph showing Googles shares for the past 6 years.
                      <br><br>

                      <img src = "{{url_for('static', filename='Graphexample.jpg')}}" width = "75%" height = "75%" display = "d-flex" class = "stock" />
                      <br><br><br>
                      
                      To see more examples of stock graphs click the button below.
                      <br><br>
                    
                      <a class = "btn-block btn-lg btn-warning" style = "color:black;" method = "POST"  href = "graphPictures">Graph Pictures</a>
                      <br><br><br>

                      You may also search for a company's stocks using our stock search bar on the top right hand corner.
                      You will taken to the stock display page and shown a graph of the companies shares over a time period.
                      There will also be an option to choose the time frame from the starting to end date and you may choose to
                      display either hourly, daily, weekly, or monthly data.
                      <br>
                    </h5>
                  </div>
                <br>


                  <div class = "card-body" style = "background-color: rgb(243, 243, 243);">
                    <h2>How to start investing?</h2>
                    <br>  
                    <h5 class = "card-text">
                    The best way to start is to do paper trading which will allow users
                    to buy and sell on a simulator without having to invest real money
                    that way the user is practicing before they decide to invest. 
                    Paper trading is possible through opening a brokerage account
                    which is the quickest method of buying stocks.
                    <br>
                    <br>
                    <br>
                    Below is a video which shows a basic example of paper trading
                    <br>
                    <br>
                    <br>
                    <iframe width = "480" height = "320" display = "d-flex" src = "https://www.youtube.com/embed/cNkZf7TRwA4"></iframe>
                    <br>
                    <br>
                    <br>
                    Below is another video which shows a basic example of the stock market
                    <br>
                    <br>
                    <iframe width = "480" height = "320" display = "d-flex" src = "https://www.youtube.com/embed/p7HKvqRI_Bo"></iframe> 
                    <br>
                    <br>
                    <br>
                    Another good video from TD Ameritrade also shows a basic example of investments.
                    <br>
                    <br>
                    <iframe width = "480" height = "320" display = "d-flex" src = "https://www.youtube.com/embed/hE2NsJGpEq4"></iframe> 
                    <br><br><br> 
                    </h5>
                  </div>
                <br>

                <div class = "card-body">
                  <h2>Defintions of Stocks?</h2>
                  <br>
                  <h5 class = "card-text">To see some defintions of stocks, please click the button below to visit
                    our stock definitions page.
                    <br><br>
                    <a class = "btn-block btn-lg btn-warning" style = "color:black;" method = "POST"  href = "StockDefinitions">StockDefinitions</a>
                  </h5>
                </div>
                <br>

                <div class = "card-body" style = "background-color: rgb(243, 243, 243);">
                  <h2>Other sources?</h2>
                  <br>
                  <h5 class = "card-text">We have sources below of other good websites where you may find more information
                  <br>on stocks.
                  <br><br>
                  <br>Below is a link to the Investor.gov website which also gives basic information on stocks.
                  <br><a href = https://www.investor.gov/introduction-investing/investing-basics/investment-products/stocks>Visit Investor.gov</a>
                  <br><br>
                  <br>Another good site to learn basic information would be the Washington state department of financial institutions
                  <br><a href = https://dfi.wa.gov/financial-education/information/basics-investing-stocks>Visit DFI.gov</a>
                  </h5>
                </div>
                <br>

                <div class = "card-body">
                  <h2>Is there a quiz to test my knowledge?</h2>
                  <br>
                  <h5 class = "card-text">We have a 10 question quiz you may take to test your knowledge
                  <br>of stocks. The questions will relate to what was discussed on this page and the definitions
                  <br>page. Once you fully understand the terms of stocks. You are ready to make investments.
                  <br>Click the button below to begin the quiz.
                  <br>
                  <br>
                  <a class = "btn-block btn-lg btn-warning" style = "color:black;" method = "POST">Take the quiz</a>
                  </h5>
                </div>
                <br>
                <div class = "card-body" style = "background-color: rgb(243, 243, 243);">
                  <h2>Ready to invest?</h2>
                  <br>
                  <h5>Our website gives users the ability to start a stock simulation, which simulates a real stock investment 
                    competiton. The users will have the option to choose their starting and end dates with their initial
                    starting cash.
                    <br><br>
                    During the simulation, the users will have the option to buy a stock from the company
                    they have searched and will be asked the quantity of how much they would like to purchase.
                    The users will also have the option to sell a current stock they own.
                    <br><br>
                    There will also be a portfolio page to help users keep track of their records on how many orders they
                    have bought and sold and how many wins and losses they had on the simulator.
                    <br><br>
                    We also have a leaderboards page to show all the users current records on 
                    the stock sim, so users will know who is leading with the most investments and who is behind.
                    The purpose of the leaderboard is to make our simluator more competitive like a game. 
                    <br><br>
                    To start a simulation, visit your profile page after registering and click on the button "start simluation"
                    and you will then be taken to your portfolio page. From there you will search a company's stock using the
                    stock search bar on the top right and begin making your investments.
                  </h5>
                </div>
                <br>
             </div>
        </div>

    </section>
      <footer class="footer mt-auto py-3" style = "background-color:rgb(33, 103, 42)">
        <div class="container">
          <span>Copyright 2022 by StockSim</span>
        </div>
      </footer>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="/static/jsStyle/bootstrap.bundle.min.js"></script>
</body>

</html>