<!--Information Page by Muneeb Khan-->
<!--Updated by Muneeb and Viraj-->
<!DOCTYPE html>
<html>
<head>
    <meta class="UTF-8">
    <title>StockSim: Learn How To Trade</title>
    <link rel = "stylesheet" href = "/static/stylesheets/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<header>
    <div class = "header">
        <h1>Welcome to StockSim: Learn How to Trade!</h1>
    </div>
    {% if session['loginFlagPy'] %}
    <div class = "login">
        <p>Hello {{person}} <a method = "POST" href = "logout">Logout</a></p>
    </div>
    {% else %}
    <div class = "login">
        <p><a method = "POST" href = "login">Login</a> or <a method = "POST" href = "register">Register</a></p>
    </div>
    {% endif %}
    <!--Navbar by Muneeb Khan-->
    <div class = "navbar">
        <nav>
            <ul>
                <li><a method = "POST" href = "home">Home</a></li>
                <li><a method = "POST" href = "aboutus">About Us</a></li>
                <li><a method = "POST" href = "information">Information</a></li>
                <li class="stockSimStartButton">
                    <form id="stockSimStart" action="/stockSimForm" method="post">
                        <button>Start a simulation!</button>
                    </form>
                    <script type="text/javascript">
                        var email = {{ session['user'] | safe}};
                        if (email == '') 
                            document.getElementById('stockSimStart').style.display = "none";
                    </script>
                </li>
            </ul>
        </nav>
        <form action="/stockSearch" method="post">
            <input type="search" name="searchTerm" placeholder="Find a stock..."
                    value="{{ request.form['searchTerm'] }}">
            <button>Search</button>
        </form>
    </div>
</header>
<body class = "info">
    <section>
        <div>
            <h1>Information</h1>
        </div>
        <div class = infomain>
            <div class = "infopart1">
                <h2>What Should I Know?</h2>
                     <p>With our information page we will provide several links to places we went to get a better knowledge of stock
                    <br>investments. Some users may learn different but we want ensure we can help all our users get a better understanding
                    <br>If the information doesn't help then you may contact us directly and we willsee if we can provide better information.
                    </p>
            </div>
                    
            <div class = "infopart2">
                <h2>The Basics of Stock Markets</h2>
                    <br>
                    <p>Stocks are basically the shares of ownership in a company and stockholders have a fractional ownership of the company.
                    <br>Stocks are typically listed as line graphs and they basically keep track of the stock price of the company overtime. It can show
                     <br>the companies records by daily, monthly, and yearly.
                     <br>
                     Below is an example of a graph showing Googles shares for the past 6 years.
                     <br>
                     </p>
                     <br>  
                     <img src = "{{url_for('static', filename='Graphexample.jpg')}}" width = 300 height = 300 class = "stock" />
             </div>
       
            <div class = "infopart3">
                 <h2>How Should I Start Investing?</h2>
                     <p>The best way to start is to do paper trading which will allow users
                    <br>to buy and sell on a simulator without having to invest real money
                     <br>that way the user is practicing before they decide to invest real
                     <br>money. Paper trading is possible through opening a brokerage account
                    <br>which is the quickest method of buying stocks.    
                    </p>
            </div>

            <div class = "infopart4">
                 <h2>Defintions of Stocks?</h2>
                 <p>To see some simple defintions of stocks click the button below</p>
                 <a method = "POST" href = "StockDefinitions">Stock Definitions</a>
            </div>
        </div>

    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
    crossorigin="anonymous"></script>
</body>
<footer><p>Copyright 2022 by StockSim</p></footer>

</html>