<!DOCTYPE html>
<html>
<head>
    <meta class="UTF-8">
    <title>StockSim: Learn How To Trade</title>
    <link rel = "stylesheet" href = "styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<header>
    <div class = "header">
        <h1>Welcome to StockSim: Learn how to trade!</h1>
    </div>
    <div class = "login">
            <p><a href = "login.html">Login</a> or <a href = "register.html">Register</a></p>
    </div>
    <br>
    <div class = "navbar">
        <nav>
            <ul>
                <li><a href = "home.html">Home</a></li>
                <li><a href = "aboutus.html">About Us</a></li>
                <li><a href = "information.html">Information</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    <section>
        <div>
            <h1>Information</h1>
        </div>
        <div class = "infopart1">
            <h2>What should I invest?</h2>
        <p>With our information page we will provide several links
        <br>to places we went to get a better knowledge of stock
        <br>investments. Some users may learn different but we want
        <br>ensure we can help all our users get a better understanding
        <br>If the links don't help you may contact us directly and will
        <br>see if we can provide easier information.
        </p>
        </div>

    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
    crossorigin="anonymous"></script>
</body>
<footer><p>Copy right 2022 by StockSim</p></footer>

</html>