<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta class="UTF-8">
        <title>StockSim: Learn How To Trade</title>
        <link rel = "stylesheet" href = "/static/stylesheets/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <header>
        <div class = "header">
            <h1>Welcome to StockSim: Learn how to trade!</h1>
        </div>
        <div class = "login">
                <p><a method = "POST" href = "login.html">Login</a> or <a method = "POST" href = "register.html">Register</a></p>
        </div>
        <br>
        <div class = "navbar">
            <nav>
                <ul>
                    <li><a method = "POST" href = "home">Home</a></li>
                    <li><a method = "POST" href = "aboutus">About Us</a></li>
                    <li><a method = "POST" href = "information">Information</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <body>
            <form method = "POST">
                <div class="passwordform">
                        <label for="Email">Enter Email</label>
                        <input type = "email" id = "email" name = "email" placeholder="ex: sameple@123.com" required>
                        <br><br>
                        <label for="Password">New Password</label>
                        <input type="text" placeholder="Enter New Passord" required>
                        <br><br>
                        <label for="ConfirmPassword">Confirm New Password</label>
                        <input type="text" placeholder="Confirm New Password" required>
                        <br><br>
                        <button type="Submit">Submit</button>
                </div>
            </form>
    </body>
    <footer><p>Copy right 2022 by StockSim</p></footer>
</html>