<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta class="UTF-8">
        <title>
            Password Recovery
        </title>
        <link rel = "stylesheet" href = "/static/stylesheets/styles.css">
    </head>

    <body>
        <div class="container">
                <div class="PasswordRecovery">
                    <div class="input-box">
                        <span class="Email">Enter Email</span>
                        <input type="text" placeholder="Enter Email" required>
                    </div>
                    <div class="NewPassword">
                        <span class="Password">New Password</span>
                        <input type="text" placeholder="Enter New Passord">
                    </div>
                    <div class="ConfirmPassword">
                        <span class="ConfirmPassword">Confirm New Password</span>
                        <input type="text" placeholder="Confirm New Password">
                    </div>
                </div>
                <div class="button">
                    <button type="Submit">Submit</button>
                </div>
        </div>
    </body>
</html>