<!--Profile page by Miqdad Hafiz-->
<!--CSS Updated by Miqdad and integrated by Muneeb-->
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>StockSim: Learn How to Trade</title>

    <!-- Bootstrap -->
    <link rel = "stylesheet" href = "/static/stylesheets/newStyle.css">
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    </head>
    <header>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style = "background-color:rgb(33, 103, 42)">
            <div class="container-fluid">
              <a class="navbar-brand" href="home">
                <img src = "/static/stockLogo.png" alt = "stock symbol" width = "35" height = "35" class="d-inline-block align-top">
                StockSim: Learn How to Trade
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="aboutus">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="information">Information</a>
                  </li>
                  {% if session['user'] %}
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "profile">Profile</a> 
          </li>
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "logout">Logout</a> 
          </li>
          <li class="nav-item" id="stockSimButton"> <!--Old list name was StockSimStartButton-->
            <form id="nav-link" action="/stockSimForm" method="post"> <!--Old form name was stockSimStart-->
              <button class = "btn btn btn-lg btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="stockSimButton">Start a simulation!</button>
            </form>
            <script type="text/javascript">
              if ({{ session['loginFlagPy'] }} == 0 || {{ session['simulationFlag'] }} == 1 ) { 
                document.getElementById('stockSimButton').style.display = "none";
              }
            </script>
          </li>
          <li>
            <form id="nav-link" action="/simulation" method="post"> 
              <button class = "btn btn btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="goToSim">Go to Current Sim!</button>
            </form>
            <script type="text/javascript">
              if ({{ session['simulationFlag'] }} == 0 ) { 
                document.getElementById('goToSim').style.display = "none";
              }
            </script>  
          </li>
          {% else %}
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "login">Login</a> 
          </li>
          <li class = "nav-item">
            <a class = "nav-link" method = "POST" href = "register">Register</a>
          </li>
        {% endif %}
                </ul>
                <form action="/stockSearch" method="post">
                  <input type="search" name="searchTerm" placeholder="Find a stock..."
                          value="{{ request.form['searchTerm'] }}">
                  <button>Search</button>
              </form>
              </div>        
            </div>
          </nav>
    </header>

<br><br><br><br><br><br>

<body>
    <h1>
        Welcome, {{results['Name']}}
    </h1>
        <br>
    <h1>
        Username: {{results['userName']}}
    </h1>
    <br>
    <h1>
        Email: {{results['Email']}}
    </h1>
    <br>
    <h1>
        User ID: {{results['UserID']}}
    </h1>

    <h1><a href = "update.html">Update Profile </a></h1>
    <br>
 <!--  {% with alerts = get_flashed_messages() %}
        {% for print in alerts %}
            {% if print in get_flashed_messages(category_filter = ['pass']) %} 
            <div class="alert-pass" role="alert">
                {{ print }}
            </div>
            {% elif print in get_flashed_messages(category_filter = ['fail']) %}
            <div class="alert-fail" role="alert">
                {{ print }}
            </div>
            {% endif %}
         {% endfor %}
        {% endwith %}  Keep this an alternative - Muneeb Khan
    <br>
    </h1> -->
    <!--
    {% with messages = get_flashed_messages() %}
                    {% if messages %}   
                        {% for message in messages %}
                        <div class ="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %} 
                    {% endif %} 
    {% endwith %}
    -->                    
    </h1>     
    <div class="stockSimStartButton">
        <form id="stockSimButton" action="/stockSimForm" method="post">
          <button class = "stockSimStartButtonStyle">Start a simulation!</button>
        </form>
        <script type="text/javascript">
          if ({{ session['simulationFlag'] }} == 1 ) { 
            document.getElementById('stockSimButton').style.display = "none";
          }
        </script>
        
        <form id="stockSimStart" action="/simulation" method="post"> 
              <button class = "stockSimStartButtonStyle" id="goToSim">Go to Current Sim!</button>
            </form>
            <script type="text/javascript">
              if ({{ session['simulationFlag'] }} == 0 ) { 
                document.getElementById('goToSim').style.display = "none";
              }
            </script> 
    </div>

    <footer class="footer mt-auto py-3 fixed-bottom" style = "background-color:rgb(33, 103, 42)">

        <div class="container">
          <span>Copyright 2022 by StockSim</span>
        </div>
      </footer>
      
      <script src="/static/jsStyle/bootstrap.bundle.min.js"></script>
    </body>      
</html>