<!DOCTYPE html>
<html>
<head>
    <meta class="UTF-8">
    <title>StockSim: Learn How To Trade</title>
    <link rel = "stylesheet" href = "/static/stylesheets/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<header>
    <div class = "header">
        <h1>Welcome to StockSim: </h1> 
    </div>
    <div class = "logOut">
        <p><a method = "POST" href = "logout">Logout</a></p>
    </div>
    <div class = "navbar">
        <nav>
            <ul>
                <li><a method = "POST" href = "home">Home</a></li>
                <li><a method = "POST" href = "aboutus">About Us</a></li>
                <li><a method = "POST" href = "information">Information</a></li>
            </ul>
        </nav>
    </div>
    <form action="/stockSearch" method="post">
        <input type="search" name="searchTerm" placeholder="Find a stock..."
                value="{{ request.form['searchTerm'] }}">
        <button>Search</button>
    </form>
</header>
<body>
    <h1>
        Welcome, {{results['Name']}}
    </h1>
        <br>
    <h1>
        Username: {{results['userName']}}
    </h1>
    <br>
    <h1>
        Email: {{results['Email']}}
    </h1>
    <br>
    <h1>
        User ID: {{results['UserID']}}
    </h1>
    <div class="stockSimStartButton">
        <form id="stockSimStart" action="/stockSimForm" method="post">
            <button>Start a simulation!</button>
        </form>
    </div>
 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
    crossorigin="anonymous"></script>
</body>
<footer><p>Copyright 2022 by StockSim</p></footer>

</html>