<!--Stock Definitions page by Viraj Kadam-->
<!--Updated by Viraj and Muneeb-->
<!--CSS Updated by Miqdad and integrated by Muneeb-->
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>StockSim: Learn How to Trade</title>

    <!-- Bootstrap -->
    <link rel = "stylesheet" href = "/static/stylesheets/newStyle.css">
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    </head>
    <header>

      <a class="navbar-brand" href="home" style = "color: black; padding: 10px;">
        StockSim: Learn How to Trade
      </a>
        <nav class="navbar navbar-expand-md navbar-dark" id = "navBar">
          <img src = "/static/stockLogo.png" alt = "stock symbol" width = "45" height = "45" class="d-inline-block align-top">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="aboutus">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="information">Information</a>
                  </li>
        {% if session['user'] %}
        <li class="nav-item">
          <a class = "nav-link" method = "POST" href = "profile">Profile</a> 
        </li>
      </li class = "nav-item">
          <a class = "nav-link" method = "POST" href = "social"> Your Network</a>
       </li>
        <li class="nav-item">
          <a class = "nav-link" method = "POST" href = "Leaderboard">Leaderboard</a> 
        </li>
        <li class="nav-item">
          <a class = "nav-link" method = "POST" href = "logout">Logout</a> 
        </li>
          <li class="nav-item" id="stockSimButton"> <!--Old list name was StockSimStartButton-->
            <form id="nav-link" action="/stockSimForm" method="post"> <!--Old form name was stockSimStart-->
              <button class = "btn btn btn-lg btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="stockSimButton">Start a simulation!</button>
            </form>
            <script type="text/javascript">
              if ({{ session['loginFlagPy'] }} == 0 || {{ session['simulationFlag'] }} == 1 ) { 
                document.getElementById('stockSimButton').style.display = "none";
              }
            </script>
          </li>
          <li>
            <form id="nav-link" action="/simulation" method="post"> 
              <button class = "btn btn btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="goToSim">Go to Current Sim!</button>
            </form>
            <script type="text/javascript">
              if ({{ session['simulationFlag'] }} == 0 ) { 
                document.getElementById('goToSim').style.display = "none";
              }
            </script>  
          </li>
          {% else %}
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "login">Login</a> 
          </li>
          <li class = "nav-item">
            <a class = "nav-link" method = "POST" href = "register">Register</a>
          </li>
        {% endif %}
                </ul>
                <form action="/stockSearch" method="post">
                  <input type="search" name="searchTerm" placeholder="Find a stock..."
                          value="{{ request.form['searchTerm'] }}">
                  <button class = "btn btn-block" style = "background-color: rgb(68, 115, 233);color:rgb(255, 255, 255);">Display Stock</button>
              </form>
              </div>        
            </div>
          </nav>
    </header>

<br><br><br><br><br><br>

<body>
    <section>
        <div>
            <h1>Information</h1>
        </div>
        <div class = "card w-75" style = "padding-top: 10px; padding-bottom: 10px; margin: auto;">
          <div class = "card-header" style = "border-bottom: solid black;">
              <h2>Table of contents</h2>
              </div>
                <div class = "card-body" style = "border-bottom: solid black;">
                    <h5 class = "card-text">
                        <a href = "#definition1">1. Stock Definitions</a>
                    <br><a href = "#definition2">2. Videos of stock terms</a>
                    <br><a href = "#definition3">3. External Sources of Stock terms</a>
                    </h5>
                </div>
          <div class = "card-body" style = "border-bottom: solid black;">
          <h2 id = "definition1">Stock Definitions</h2>
          <h3>Below are some helpful terms related to the stock market</h3>
          </div>
          <div class = "card-body" style="background-color: rgb(243, 243, 243);">
          <h2>Arbitrage</h2>
          <h5 class = "card-text"> The practice of taking advantage of a small price difference between 
            2 or more markets.
          </h5>
          </div>

          <div class = "card-body" style="background-color: rgb(243, 243, 243);">
          <h2>Buy</h2>
          <h5 class = "card-text">When you buy a stock from a company, you ar buying a share of that company.
          <br>A good time to buy a share of a company is when you think the price of that stock is going to rise.
          </h5>
          </div>

          <div class = "card-body" style="background-color: rgb(243, 243, 243);">
          <h2>Dividend</h2>
          <h5 class = "card-text"> Basically distribute a share of the company's earnings.
          </h5>
          </div>

          <div class = "card-body" style="background-color: rgb(243, 243, 243);">
          <h2>High</h2>
          <h5 class = "card-text"> A high is basically a company's highest price point for the day.
          </h5>
          </div>

          <div class = "card-body" style="background-color: rgb(243, 243, 243);">
          <h2>Index</h2>
          <h5 class = "card-text"> An index is a point on the stock graph to indicate the stock amount on the x axis 
          for that corresponding time period on the y axis.
          </h5>
          </div> 

          <div class = "card-body" style="background-color: rgb(243, 243, 243);">
          <h2>Liquidity</h2>
          <h5 class = "card-text"> The measure of how easy it is to buy or sell a stock
          </h5>
          </div>

          <div class = "card-body" style="background-color: rgb(243, 243, 243);">
          <h2>Low</h2>
          <h5 class = "card-text"> A low is basically a company's lowest price point for the day. It is the
          opposite of a high.
          </h5>
          </div>
    
          <div class = "card-body" style="background-color: rgb(243, 243, 243);">
          <h2>Market Order</h2>
          <h5 class = "card-text"> An order that is bought based on the markets price.
          </h5>
          </div>

          <div class = "card-body" style="background-color: rgb(243, 243, 243);">
          <h2>Order</h2>
          <h5 class = "card-text"> A process of buying or selling an investment on the stock market.
          </h5>
          </div>

          <div class = "card-body" style="background-color: rgb(243, 243, 243);">
          <h2>Portfolio</h2>
          <h5 class = "card-text"> An investors records of stocks bought and sold during a period of time.
          </h5>
          </div>

          <div class = "card-body" style="background-color: rgb(243, 243, 243);">
          <h2>Sell</h2>
          <h5 class = "card-text">When you sell a stock, your selling that shares that you previously bought
          <br>A good time to sell stocks is when you think that stock's rise is going to end.
          </h5>
          </div>

          <div class = "card-body" style="background-color: rgb(243, 243, 243);">
          <h2>Shareholder</h2>
          <h5 class = "card-text">A person who owns at least one share of a company's stock.
          </h5>
          </div>

          <div class = "card-body" style="background-color: rgb(243, 243, 243);">
          <h2>Stocks</h2>
          <h5 class = "card-text">Stocks are basically the ownership of a part of the companies investments.
          </h5>
          </div>
        
        <div class = "card-body" style="background-color: rgb(243, 243, 243);">
        <h2>Volatility</h2>
        <h5 class = "card-text"> A statistical measure of how much a stock moves up or down.
        </h5>
        </div>

        <div class = "card-body" style="background-color: rgb(243, 243, 243); border-bottom: solid black;">
        <h2>Yield</h2>
        <h5 class = "card-text"> Measures a return on an investment, such as a dividend payment.
        </h5>
        </div>

        <div class = "card-body" style = "border-bottom: solid black;">
          <h2 id = "definition2">External video sources</h2>
          <h5 class = "card-text"> The following videos show a good explanation of some of the terms.
            The video below from Khan academy explains the basics of an Arbitrage
            <br><br>
            <iframe width = "480" height = "320" display = "d-flex" src = "https://www.youtube.com/embed/AuCH7fHZsZ4"></iframe>
            <br><br>
            Another good video below from Ameritrade explains the concept of Dividends
            <br><br>
            <iframe width = "480" height = "320" display = "d-flex" src= "https://www.youtube.com/embed/wTCJfPtFvNM"></iframe>
            <br><br>
            Another good video below from Captial.com explains the concept of Liquidities 
            <br><br> 
            <iframe width = "480" height = "320" display = "d-flex" src= "https://www.youtube.com/embed/SaGmRqL-B2c"></iframe>
          </h5>
        </div>

        <div class = "card-body" style = "background-color: rgb(243, 243, 243); border-bottom: solid black;">
          <h2 id = "definition3">External sources of stock terms</h2>
          <h5 class = "card-text"> The following sources will help you to find more stock terms.
            The source link below is from stockstotrade.com
            <br><a href = https://stockstotrade.com/40-trading-terms-beginners-infographic/>Stocks to trade</a>
            <br><br>
            Another good source below is from a blog post
            <br><a href = https://www.timothysykes.com/blog/trading-terms-you-need-to-know//>Blog from timothy sykes</a>
          </h5>
        </div>
      </div>
      <br>

<br>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
    crossorigin="anonymous"></script>

    <footer class="footer mt-auto py-3 fixed-bottom" id = "foot">
        <div class="container">
          <span>Copyright 2022 by StockSim</span>
        </div>
      </footer>
      
      <script src="/static/jsStyle/bootstrap.bundle.min.js"></script>
</body>

</html>