<!--Stock Display page by Ian Mcnulty-->
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>StockSim: Learn How to Trade</title>

    <!-- Bootstrap -->
    <link rel = "stylesheet" href = "/static/stylesheets/newStyle.css">
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    </head>
    <header>

      <a class="navbar-brand" href="home" style = "color: black; padding: 10px;">
        StockSim: Learn How to Trade
      </a>
        <nav class="navbar navbar-expand-md navbar-dark" id = "navBar">
          <img src = "/static/stockLogo.png" alt = "stock symbol" width = "45" height = "45" class="d-inline-block align-top">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="aboutus">About Us</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Information Pages</a>
                    <ul class = "dropdown-menu">
                      <li><a class ="dropdown-item" href="information">Information</a></li>
                      <li><a class ="dropdown-item" href="graphPictures">Graph Pictures</a></li>
                      <li><a class ="dropdown-item" href="StockDefinitions">Stock Definitions</a></li>
                    </ul>
                  </li>
        {% if session['user'] %}
        <li class="nav-item">
          <a class = "nav-link" method = "POST" href = "profile">Profile</a> 
        </li>
      <li class = "nav-item">
          <a class = "nav-link" method = "POST" href = "social"> Your Network</a>
       </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">StockFeed</a>
        <ul class = "dropdown-menu">
          <li><a class ="dropdown-item" href="Blog">StockFeed</a></li>
          <li><a class ="dropdown-item" href="userPosts">Your Posts</a></li>
        </ul>
      </li>
        <li class="nav-item">
          <a class = "nav-link" method = "POST" href = "Leaderboard">Leaderboard</a> 
        </li>
        <li class="nav-item">
          <a class = "nav-link" method = "POST" href = "logout">Logout</a> 
        </li>
          <li class="nav-item" id="stockSimButton"> <!--Old list name was StockSimStartButton-->
            <form id="nav-link" action="/stockSimForm" method="post"> <!--Old form name was stockSimStart-->
              <button class = "btn btn btn-lg btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="stockSimButton">Start a simulation!</button>
            </form>
            <script type="text/javascript">
              if ({{ session['loginFlagPy'] }} == 0 || {{ session['simulationFlag'] }} == 1 ) { 
                document.getElementById('stockSimButton').style.display = "none";
              }
            </script>
          </li>
          <li>
            <form id="nav-link" action="/simulation" method="post"> 
              <button class = "btn btn btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="goToSim">Go to Current Sim!</button>
            </form>
            <script type="text/javascript">
              if ({{ session['simulationFlag'] }} == 0 ) { 
                document.getElementById('goToSim').style.display = "none";
              }
            </script>  
          </li>

          {% else %}
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "login">Login</a> 
          </li>
          <li class = "nav-item">
            <a class = "nav-link" method = "POST" href = "register">Register</a>
          </li>

        {% endif %}
      </ul>
                <p class="nav-link"  style = "border-radius: 8px; background-color: bisque;color:rgb(33, 103, 42);margin-top: 18px; padding-left: 10px;margin-left: 5px;" id="currentCashNav">Current Cash: ${{session['currentCash']}}</p>
                <p class="nav-link"  style = "border-radius: 8px; background-color: bisque;color:rgb(33, 103, 42);margin-right: 4px; margin-top: 18px; padding-left: 10px;margin-left: 5px;" id="portfolioValueNav">Portfolio Value: ${{session['portfolioValue'] }}</p>
            <script type="text/javascript">
              if ({{ session['simulationFlag'] }} == 0 ) { 
                document.getElementById('currentCashNav').style.display = "none";
                document.getElementById('portfolioValueNav').style.display = "none";
              }
            </script>  
                <form action="/stockSearch" method="post">
          <input style="border-radius: 8px; margin-top: 5px;"  class= "stockSearchBar" type="search" list = "stockNames" name="searchTerm" placeholder="Find a stock..."
                  value="{{ request.form['searchTerm'] }}">
                  <datalist id = "stockNames">
                  {% for stockname in stockNames%}
                      <option value = "{{stockname}}" />
                  {% endfor %}
                   </datalist>
                  <button class = "btn btn-block" style = "margin-bottom: 4px; background-color:white;color:rgb(33, 103, 42);">Display Stock</button>
      </form>
              </div>        
            </div>
          </nav>
    </header>
    <body>
      <br><br><br>
        <div class="stockDisplay">
            <h1>{{ stock['ticker'] }} - {{ stock['name'] }} - ${{session['currentPrice']}}</h1>
            <h3>Headquarters: {{ stock['headquarters'] }}</h3>
            <h3>Listed at: {{ stock['listedAt'] }}</h3>
            <canvas id="stockChart" width="200" height="50"></canvas>        
            
            <script>
                var ctx = document.getElementById("stockChart").getContext("2d");
                var stockChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: {{ dates | safe }},
                        datasets: [{
                            label: "Stock values",
                            data: {{ avgs | safe }},
                            fill: true,
                            borderColor: "rgb(20, 100, 200)",
                            lineTension: 0
                        }]
                    },
                    options: {
                        display: true
                    }
                });

                <!-- This function will reconfigure the graph settings based on selection from dropdown - Muneeb Khan -->
                function changeStockChart(chartType2) {
                stockChart.destroy();
                stockChart = new Chart(ctx, {type: document.getElementById("chartType").value,
                  data: {
                        labels: {{ dates | safe }},
                        datasets: [{
                            label: "Stock values",
                            data: {{ avgs | safe }},
                            fill: true,
                            borderColor: "rgb(20, 100, 200)",
                            lineTension: 0
                        }]
                    },
                    options: {
                        display: true
                    }
                });
              }
            </script>
        </div>        
        
        <form action="/changeView" method="post" style = "padding-left: 30px;">
            <div class = "row justify-content-center">
            <div class = "form-row align-items-center">
              <div class = "form-group col-md-5">
                  <label for="dateInput">New Start Date:</label>
                  <input id='startDate' type="date" class = "form-control"  name="startDate" value="{{ request.form['startDate'] }}" placeholder="yyyy-mm-dd">
                </div>
                <div class = "form-group col-md-6">
                    <label for = "timespan">Timespan:</label>
                    <select class = "form-control" name="timespan" value="{{ request.form['timespan'] }}">
                        <option value="hourly">Hourly prices</option>
                        <option value="1minute">1 Minute</option>
                        <option value="10minute">10 Minutes</option>
                        <option value="daily">Daily prices</option>
                        <option value="weekly">Weekly prices</option>
                        <option value="monthly">Monthly prices</option>
                    </select>
                </div>
                <div class = "form-group col-md-6">
                    <label for = "chartType">Select Chart Type:</label>
                    <select class = "form-control" name = "chartType" id = "chartType" onchange="changeStockChart(this)">
                        <option value = "line">Line</option>
                        <option value = "bar">Bar</option>
                    </select>
                </div>
            </div>
            </div>
            <br>
            
                <button id="changeView" type="submit" class="btn btn btn-lg btn-block" style = "background-color:rgb(33, 103, 42);color: white;">Show Ranges</button>
              <p id="dateNotice" style="color: red;"></p>
        </form>
        <script>
          const button = document.getElementById('changeView');
          const dateInput = document.getElementById('startDate');
          let endYear = +({{session['currentYear']}});
          let endMonth = +({{session['currentMonth']}});
          let endDay = +({{session['currentDay']}});

          dateInput.addEventListener('input', dateCheck2);

          function dateCheck2(check) {
            startYear = +(dateInput.value.slice(0, 4));
            startMonth = +(dateInput.value.slice(5, 7));
            startDay = +(dateInput.value.slice(8, 10));
            if (endYear < startYear) {
              button.disabled = true;
              dateNotice.textContent = "Please enter a new end date that comes after the start date.";
            } else if (endYear == startYear) {
              if (endMonth < startMonth) {
                button.disabled = true;
                dateNotice.textContent = "Please enter a new end date that comes after the start date.";
              } else if (endMonth == startMonth) {
                if (endDay <= startDay) {
                  button.disabled = true;
                  dateNotice.textContent = "Please enter a new end date that comes after the start date.";
                } else {
                  button.disabled = false;
                  dateNotice.textContent = "";
                }
              } else {
                button.disabled = false;
                dateNotice.textContent = "";
              }
            } else {
              button.disabled = false;
              dateNotice.textContent = "";
            }

          }
        </script>

        <form action="/orderForm" method="post" style = "padding-left: 30px;">
                <button  class="btn btn btn-lg" name="option" value="Buy" style = "color:rgb(33, 103, 42);background-color:antiquewhite;">Buy</button>
                <button  class="btn btn btn-lg" name="option" value="Sell" style = "color:rgb(33, 103, 42);background-color: antiquewhite;">Sell</button>
                <script>
                    var Display = $('.login').css.('display','block'):
                    var noDisplay = $('.login').css.('display', 'none'): 
                    if($('.notloggedin').css.('display') == 'none'){
                        $(Display);
                    }
                    else
                        $(noDisplay);               
                </script>    
            
        </form>  
        <script type="text/javascript">
            if ({{ session['simulationFlag'] }} == False) 
                document.getElementById('buySellButtons').style.display = "none";
        </script>
    </body>
<br><br><br>

<footer class="footer mt-auto py-3 fixed-bottom" id = "foot">
        <div class="container">
          <span>Copyright 2022 by StockSim</span>
        </div>
      </footer>

  <script src="/static/jsStyle/bootstrap.bundle.min.js"></script>
</html>