<!--Stock Definitions page by Viraj Kadam-->
<!--Updated by Viraj and Muneeb-->
<!--CSS Updated by Miqdad and integrated by Muneeb-->
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>StockSim: Learn How to Trade</title>

    <!-- Bootstrap core CSS -->
    <link rel = "stylesheet" href = "/static/stylesheets/newStyle.css">
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style = "background-color:rgb(33, 103, 42)">
    <div class="container-fluid">
      <a class="navbar-brand" href="StockDefinitions">
        <img src = "/static/stockLogo.png" alt = "stock symbol" width = "35" height = "35" class="d-inline-block align-top">
        StockSim: Learn How to Trade
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="information">Information</a>
          </li>
          {% if session['user'] %}
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "profile">Profile</a> 
          </li>
          <li class="nav-item">
            Hello {{person['Name']}}
          </li>
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "logout">Logout</a> 
          </li>
          {% else %}
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "login">Login</a> 
          </li>
          <li class = "nav-item">
            <a class = "nav-link" method = "POST" href = "register">Register</a>
          </li>
          {% endif %}
        </ul>
        <form action="/stockSearch" method="post">
          <input class = "stockSearchBar" type="search" name="searchTerm" placeholder="Find a stock..."
                  value="{{ request.form['searchTerm'] }}">
          <button class = "stockSearchButton">Search</button>
      </form>
      </div>

    </div>
  </nav>
</header>

<br><br><br><br><br><br>

<body>
    <section>
        <div>
            <h1>Stock Definitions</h1
            <br>
            <h3>Below are some helpful terms to get aquanted with each feature of a stock</h3>
        </div>
        <div class = "card w-75">
          <div class = "card-header">
          <h2>Stocks</h2>
          </div>
          <div class = "card-">
          <h5 class = "card-text">Stocks are basically the ownership of a part of the companies investments.
          </h5>
          </div>
      <br>

          <div class = "card-header">
          <h2>Shareholder</h2>
          </div>
          <div class = "card-">
          <h5 class = "card-text">A person who owns at least one share of a company's stock.
          </h5>
          </div>
      <br>

        <div class = "card-header">
        <h2>Buy</h2>
        </div>
        <div class = "card-">
        <h5 class = "card-text">When you buy a stock from a company, you ar buying a share of that company.
        <br>A good time to buy a share of a company is when you think the price of that stock is going to rise.
        </h5>
        </div>
    <br>

        <div class = "card-header">
        <h2>Sell</h2>
        </div>
        <div class = "card-">
        <h5 class = "card-text">When you sell a stock, you selling that shares that you previously bought
        <br>A good time to sell stocks is when you think that stock's rise is going to end.
        </h5>
        </div>
    <br>

        <div class = "card-header">
        <h2>Volatility</h2>
        </div>
        <div class = "card-">
        <h5 class = "card-text"> A statistical measure of how much a stock moves up or down
        </h5>
        </div>
    <br>
    
        <div class = "card-header">
        <h2>Liquidity</h2>
        </div>
        <div class = "card-">
        <h5 class = "card-text"> The measure of how easy it is to buy and sell a stock
        </h5>
        </div>
    <br>
        <div class = "card-header">
        <h2>Arbitrage</h2>
        </div>
        <div class = "card-">
        <h5 class = "card-text"> The practice of taking advantage of a small price difference between 
          2 or more markets.
        </h5>
        </div>
    <br>

        <div class = "card-header">
        <h2>Dividend</h2>
        </div>
        <div class = "card-">
        <h5 class = "card-text"> Basically distribute a share of the company's earnings.
        </h5>
        </div>
    <br>

        <div class = "card-header">
        <h2>Portfolio</h2>
        </div>
        <div class = "card-">
        <h5 class = "card-text"> An investors records of stocks bought and sold during a period of time.
        </h5>
        </div>
  <br>
    
        <div class = "card-header">
        <h2>Market Order</h2>
        </div>
        <div class = "card-">
        <h5 class = "card-text"> An order that is bought on the markets best available price.
        </h5>
        </div>
  <br>

        <div class = "card-header">
        <h2>Order</h2>
        </div>
        <div class = "card-">
        <h5 class = "card-text"> A process of buying or selling an investment on the stock market
          at the best available market price.
        </h5>
        </div>
<br>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
    crossorigin="anonymous"></script>

    <footer class="footer mt-auto py-3" style = "background-color:rgb(33, 103, 42)">
        <div class="container">
          <span>Copyright 2022 by StockSim</span>
        </div>
      </footer>
      
      <script src="/static/jsStyle/bootstrap.bundle.min.js"></script>
</body>

</html>