<!DOCTYPE html>
<html>
    <head>
        <meta class="UTF-8">
        <title>StockSim: Learn How To Trade</title>
        <link rel = "stylesheet" href = "/static/stylesheets/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <header>
        {% if session['user'] %}
        <div class = "login">
            <p>Hello {{person}} <a method = "POST" href = "logout">Logout</a></p>
        </div>
        {% else %}
        <div class = "login">
            <p><a method = "POST" href = "login">Login</a> or <a method = "POST" href = "register">Register</a></p>
        </div>
        {% endif %}
        <div class = "navbar">
            <nav>
                <ul>
                    <li><a method = "POST" href = "home">Home</a></li>
                    <li><a method = "POST" href = "aboutus">About Us</a></li>
                    <li><a method = "POST" href = "information">Information</a></li>
                </ul>
            </nav>
            <form action="/stockSearch" method="post">
                <input type="search" name="searchTerm" placeholder="Find a stock..."
                        value="{{ request.form['searchTerm'] }}">
                <button>Search</button>
            </form>
        </div>
    </header>
    <body>
        <div class="stockSimStartForm">
            <h1>Starting the simulation:</h1>
            <h3>Just need to enter some details to get the simulation started!</h3>
            <form method="post">
                <label for="startDate">Starting Date of Simulation:</label>
                <input type="startDate" value="{{ request.form['startDate'] }}">  
                <br>
                <label for="endDate">Ending Date of Simulation:</label>
                <input type="endDate" value="{{ request.form['endDate'] }}">
                <br>
                <label for="startingCash">Starting Cash for Simulation:</label>
                <input type="startingCash" value="{{ request.form['startingCash'] }}">
                <br>
                <button>Start Simulation!</button>
            </form>
        </div>
    </body>
</html>