<!-- Created by Miqdad -->
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>StockSim: Learn How to Trade</title>

    <!-- Bootstrap -->
    <link rel = "stylesheet" href = "/static/stylesheets/newStyle.css">
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <header>
      <a class="navbar-brand" href="home" style = "color: black; padding: 10px;">
        StockSim: Learn How to Trade
      </a>
        <nav class="navbar navbar-expand-md navbar-dark" id = "navBar">
          <img src = "/static/stockLogo.png" alt = "stock symbol" width = "45" height = "45" class="d-inline-block align-top">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="aboutus">About Us</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Information Pages</a>
                    <ul class = "dropdown-menu">
                      <li><a class ="dropdown-item" href="information">Information</a></li>
                      <li><a class ="dropdown-item" href="graphPictures">Graph Pictures</a></li>
                      <li><a class ="dropdown-item" href="StockDefinitions">Stock Definitions</a></li>
                    </ul>
                  </li>
                  {% if session['user'] %}
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "profile">Profile</a> 
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Your Network</a>
            <ul class = "dropdown-menu">
              <li><a class ="dropdown-item" href="social">Your Network</a></li>
              <li><a class ="dropdown-item" href="Blog">StockFeed</a></li>
              <li><a class ="dropdown-item" href="userPosts">Your Posts</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "Leaderboard">Leaderboard</a> 
          </li>
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "logout">Logout</a> 
          </li>
          <li class="nav-item" id="stockSimButton"> <!--Old list name was StockSimStartButton-->
            <form id="nav-link" action="/stockSimForm" method="post"> <!--Old form name was stockSimStart-->
              <button class = "btn btn btn-lg btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="stockSimButton">Start a simulation!</button>
            </form>
            <script type="text/javascript">
              if ({{ session['loginFlagPy'] }} == 0 || {{ session['simulationFlag'] }} == 1 ) { 
                document.getElementById('stockSimButton').style.display = "none";
              }
            </script>
          </li>
          <li>
            <form id="nav-link" action="/simulation" method="post"> 
              <button class = "btn btn btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;" id="goToSim">Go to Current Sim!</button>
            </form>
            <script type="text/javascript">
              if ({{ session['simulationFlag'] }} == 0 ) { 
                document.getElementById('goToSim').style.display = "none";
              }
            </script>  
          </li>
          {% else %}
          <li class="nav-item">
            <a class = "nav-link" method = "POST" href = "login">Login</a> 
          </li>
          <li class = "nav-item">
            <a class = "nav-link" method = "POST" href = "register">Register</a>
          </li>
        {% endif %}
                </ul>
                <div class="dropdown">
                <button style = "margin: 4px; background-color:white;color:rgb(33, 103, 42);" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Simulation Status
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <p class="nav-link"  style = "border-radius: 8px; background-color: bisque;color:rgb(33, 103, 42);margin :10px; padding: 10px;" id="currentCashNav">Current Cash: ${{session['currentCash']}}</p>
                  <p class="nav-link"  style = "border-radius: 8px; background-color: bisque;color:rgb(33, 103, 42);margin :10px; padding: 10px;" id="portfolioValueNav">Portfolio Value: ${{session['portfolioValue'] }}</p>
                </div>
                </div>
                <script type="text/javascript">
              if ({{ session['simulationFlag'] }} == 0 ) { 
                document.getElementById('currentCashNav').style.display = "none";
                document.getElementById('portfolioValueNav').style.display = "none";
              }
            </script>  
                <form action="/stockSearch" method="post">
                    <input class = "stockSearchBar" type="search" name="searchTerm" placeholder="Find a stock..."
                            value="{{ request.form['searchTerm'] }}">
                            <button class = "btn btn-block" style = "background-color:white;color:rgb(33, 103, 42);padding-left: 10px;margin-left: 5px;padding-right: 10px; margin-right: 5px;" id="stockSearchButton">Display Stock</button>
                </form>
              </div>        
            </div>
          </nav>
    </header>


<br><br><br><br><br><br>

<body>
<main>

  <div class="card" style="width: 75rem">
  <div class="border border-left border-right px-0">
    <div class="p-3 border-bottom">
      <h4 class="d-flex align-items-center mb-0">
        Your Posts 
      </h4>
    </div>
    

<div class="container mt-4 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="feed p-2">
                <!-- 
                  <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
                    <div class="feed-text px-2">
                        <h6 class="text-black-50 mt-2">What's on your mind</h6>
                    </div>
                 -->   
                </div>

                {% for users in posts %}
                <div class="bg-white border mt-2">
                    <div>
                        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                            
                                <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{users['Author']}}</span><span class="text-black-50 time">{{users['DatePosted']}}</span></div>

                                <div class="btn-group">
                                <button class="fa fa-ellipsis-v text-black-50" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/editPost/{{users['DocID']}}">Edit</a></li>
                                <li><a class="dropdown-item" href="/postDelete/{{users['DocID']}}">Delete</a></li>
                                </ul>
                                </div>
                        </div>
                    </div>
                    <div class="p-2 px-3"><span>{{users['Post']}}</span></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>




</main>
{% with messages = get_flashed_messages() %}
                    {% if messages %}   
                        {% for message in messages %}
                        <script>
                        swal( '{{ message }}', {
                        button: "Close",
                        });
                        </script>
                        {% endfor %} 
                    {% endif %} 
    {% endwith %}
</body>


<br><br><br><br><br><br>
    <footer class="footer mt-auto py-3" id = "foot">
        <div class="container">
          <span>Copyright 2022 by StockSim</span>
        </div>
      </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/jsStyle/bootstrap.bundle.min.js"></script>
          
</html>